@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-surface: #121414;
  --color-error: #ffb4ab;
  --color-on-secondary-container: #725f00;
  --color-on-primary: #0a3909;
  --color-on-error-container: #ffdad6;
  --color-surface-container-low: #1a1c1c;
  --color-inverse-primary: #3b6934;
  --color-inverse-on-surface: #2f3131;
  --color-primary-fixed: #bcf0ae;
  --color-secondary-container: #ffdb3c;
  --color-surface-bright: #38393a;
  --color-secondary-fixed: #ffe16d;
  --color-on-secondary-fixed: #221b00;
  --color-background: #121414;
  --color-outline: #8c9387;
  --color-on-tertiary-fixed-variant: #003fa5;
  --color-primary-fixed-dim: #a1d494;
  --color-primary-container: #2d5a27;
  --color-on-error: #690005;
  --color-on-tertiary: #002a76;
  --color-on-surface: #e2e2e2;
  --color-tertiary-fixed: #dbe1ff;
  --color-surface-tint: #a1d494;
  --color-on-secondary: #3a3000;
  --color-surface-variant: #333535;
  --color-surface-container-highest: #333535;
  --color-surface-container-high: #282a2b;
  --color-on-primary-fixed-variant: #23501e;
  --color-surface-container-lowest: #0d0e0f;
  --color-outline-variant: #42493e;
  --color-inverse-surface: #e2e2e2;
  --color-tertiary-fixed-dim: #b3c5ff;
  --color-on-background: #e2e2e2;
  --color-surface-container: #1e2020;
  --color-tertiary: #b3c5ff;
  --color-surface-dim: #121414;
  --color-secondary-fixed-dim: #e9c400;
  --color-on-primary-container: #9dd090;
  --color-tertiary-container: #1148b2;
  --color-primary: #a1d494;
  --color-on-secondary-fixed-variant: #544600;
  --color-on-tertiary-container: #adc1ff;
  --color-on-primary-fixed: #002201;
  --color-on-tertiary-fixed: #00184a;
  --color-on-surface-variant: #c2c9bb;
  --color-error-container: #93000a;
  --color-secondary: #fff9ef;

  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

@layer utilities {
  .bf-bg-dark {
    background-color: #001f3f;
  }
  .bf-gk {
    background-color: #a8a8a8;
    color: #111;
  }
  .bf-def {
    background-color: #a3b18a;
    color: #111;
  }
  .bf-mid {
    background-color: #e9edc9;
    color: #111;
  }
  .bf-atk {
    background-color: #fefae0;
    color: #111;
  }
  .bf-select {
    background-color: #ffd700;
    color: #000;
  }
}

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  }
  body {
    @apply bg-[#f0f2f5] text-gray-900 dark:bg-[#121414] dark:text-[#e2e2e2];
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
  .retro-border {
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.1);
    border-radius: 4px;
  }
  .retro-btn-press:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
  }
  ::-webkit-scrollbar { width: 8px; }
  ::-webkit-scrollbar-track { background: var(--color-surface-container); }
  ::-webkit-scrollbar-thumb { background: #4a5568; border-radius: 4px; }
}